@import '_config';

/**
 * File Uploader
 */

.button {
    margin: 10px auto;
    padding: 10px;
    width: 170px;
    -webkit-appearance: button;
       -moz-appearance: button;
}

.drop-box {
    background: @color_lightgray;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 80px 10px;
    cursor: pointer;
}

.drop-box.dragover {
    border: 5px dashed @color_blue;
}

.drop-box.dragover-err {
    border: 5px dashed @color_warning;
}

.preview > div {
    display: inline-block;
    margin-right: 20px;
    width: auto;
}

.preview img,
.preview audio,
.preview video {
    max-width: 300px;
    max-height: 150px;
}

form .progress {
    line-height: 15px;
}

.progress {
    border: 3px groove @color_mediumgray;
    display: inline-block;
    width: 100px;
}
.progress div {
    background: @color_warning;
    font-size: smaller;
    width: 0;
}

.response {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 3px 0;
    clear: both;
}

.response .sel-file li,
.response .reqh {
    color: @color_blue;
    padding-bottom: 5px;
}
